{
  "presets": ["es2015"],
  "plugins": [
  	"babel-plugin-transform-es2015-modules-commonjs",
	"babel-plugin-transform-merge-sibling-variables",
	"babel-plugin-transform-minify-booleans"
  ],
  "comments": false
}
